$primary-color : #da9d41;
$secondary-color:#222222;
#banner{
	height:70vh;
}
#mid-section{
	h4{
		color:$primary-color;
	}
}
#destinations{
	background:$secondary-color;
	color:$secondary-color;
	h1{
		color:white;
	}
	h4{
		color:$primary-color;
	}
	li{
		list-style:none;
	}
	ul{
		padding:0;
	}
}

#itenerary{
	.primary-bg{
		background-color:$primary-color;
		color:$secondary-color;
	}
	.secondary-bg{
		background-color:$secondary-color;
		color:$primary-color;
	}
}